.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 30px;
  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 58px 30px 78px;
  }
  @media (min-width: 1200px) {
    padding: 58px 70px 78px;
  }
}

.menu {
  font-family: $semi-bold-font-family;
  font-size: 25px;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  color: $text-color;
}
.logo {
  display: flex;
  align-items: center;
  color: $default-black;
  img {
    display: block;
    width: 91px;
    height: 35px;
  }
  .logo__title-1 {
    font-family: $bold-font-family;
    font-weight: $font-weight-heavy;
    font-size: 35px;
    padding-right: 6px;
  }
  .logo__title-2 {
    font-family: $medium-font-family;
    font-size: 35px;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    position: relative;
  }
}
.logo__title-2 span {
  position: absolute;
  font-family: $light-font-family;
  font-size: 25px;
  font-weight: $font-weight-light;
  line-height: 29px;
  width: 21px;
  height: 29px;
  top: -3px;
}
.logo__text {
  display: none;
  align-items: center;
  @media (min-width: 768px) {
    display: flex;
  }
}
